<div *ngIf ="outputCity">
  <h3>Click below to get 5 DAY TEMPERATURE forecast in {{outputCity}} </h3>
  <button (click) = "getWeather()">Click here</button>
  <br/>
  <!-- The temperature in {{selectedCity.city}} is: {{weather}} degrees -->

    <li *ngFor="let wx of weather">
      temperature {{wx.main.temp}} degrees on {{wx.dt_txt}}
    </li>

</div>

<!--
<button (click) = "getNumbers()">Get Numbers</button>
<br/>
<button (click) = "startTimer()">Start Timer</button>
<br/>
Current Value: {{currentValue}}
<br/>
Time: {{time}}
<br/>
Errors: {{errorValue}}
<br/>
<br/>
<br/>
-->



